@model Data.DTOs.Pressao

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center mt-3 text-secondary">Editar</h1>

<form method="post" action="Editar">
    <div class="form mt-5">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="row">
            <div class="form-group col">
                <input type="text" placeholder="Data" class="form-control" name="Data" id="Data" required value="@Model.Data" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3">
                <input type="number" min="0" max="200" class="form-control" name="Sistolica" id="Sistolica" required value="@Model.Sistolica" />
            </div>
            <span style="font-size: 25px">/</span>
            <div class="form-group col-3">
                <input type="number" min="0" max="200" class="form-control" name="Diastolica" id="Diastolica" required value="@Model.Diastolica"/>
            </div>
            <div class="form-group col-3 ml-5">
                <input type="number" min="0" max="200" class="form-control" name="Batimentos" id="Batimentos" required  value="@Model.Batimentos"/>
            </div>
            <svg id="i-activity" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="35" height="38" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M4 16 L11 16 14 29 18 3 21 16 28 16" />
            </svg>
        </div>
        <input type="submit" value="Salvar" class="col-12 mt-5 p-2 btn-light border" />
    </div>
</form>